<%= form_for(@spree_question) do |f| %>
  <% if @spree_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spree_question.errors.count, "error") %> prohibited this spree_question from being saved:</h2>

      <ul>
      <% @spree_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_area :question %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
