<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @question.created_at%>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user.email %>
</p>

<p>
  <strong>Product:</strong>
  <%= link_to @question.product.name, @question.product %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>


<div>
  <% if @question.answer %>
      <!--TODO aqui tengo un palo que no he podido resolver-->
      <%= form_for [@question.answer], url: answer_admin_question_path do |q|  %>
          <%= q.text_area :answer, class:"columns sixteen alpha omega" %>
          <%= q.submit Spree.t(:answer), class:"columns alpha omega"%>
      <% end %>
  <% else %>
      <%= form_for [@question, Spree::Answer.new], url: answer_admin_question_path do |q|  %>
          <%= q.text_area :answer, class:"columns sixteen alpha omega" %>
          <%= q.submit Spree.t(:answer), class:"columns alpha omega"%>
      <% end %>
  <% end %>
</div>

<%#= link_to 'Edit', edit_admin_question_path(@question) %> |
<%= link_to 'Back', admin_questions_path %>
